*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.container{
    min-width: 400px;
    max-width: 1200px;
    padding: 5px;
    aspect-ratio: 1;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}
.container > div{
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}
.container > div > div{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    user-select: none;
}
.h2{
    text-align: center;
}